matplotlib.pyplot
cv2
glob.glob
os
random
tensorflow
tensorflow.keras.preprocessing.image
tensorflow.keras.layers
tensorflow.keras.models
tensorflow.keras.optimizers
tensorflow.keras.callbacks
tensorflow.keras.utils
IPython.display
